version: "3.9"

services:
  db:
    image: postgres:15  # or whichever version you want
    container_name: fastapi_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: todouser
      POSTGRES_PASSWORD: todopassword
      POSTGRES_DB: tododb 
    ports:
      - "5432:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data  # persist data

  web:
    build: .
    container_name: fastapi_app
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    
volumes:
  postgres_data:
